*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    display: block;
    color: white;
    padding: 1rem 1rem 1rem 3rem;
    text-decoration: none;
    font-size: x-large;
}
.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    width: 80%;
    margin: 20px auto;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    text-align: center; /* Center text */
}
select {
    width: 100%;
    padding: 5px;
}
select:disabled {
    opacity: 0.5;
    cursor: default;
}